.appbar{
    z-index: 1000;
    background-color: transparent;
}

.container {
    width: 320px;

    display: flex;
    align-items: center;

    margin: 0;
    padding: 0
}

@media (min-width: 320px) and (max-width: 768px) {
    .container {
        display: none
    }
}