.appbar{
    position: relative;
    z-index: 100;
    background-color: transparent;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .appbar {
        width: inherit;
    }
}

.container {
    width: 320px;

    display: flex;
    align-items: center;

    margin: 0;
    padding: 0
}

@media (min-width: 320px) and (max-width: 768px) {
    .container {
        display: none
    }
}