.appbar {
  position: relative;
  z-index: 100;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #e0e0e0;
}

@media (min-width: 768px) {
  .appbar {
    width: inherit;
  }
}
@media (min-width: 1280px) {
  .appbar {
    border-bottom: 0;
  }
}
.container {
  width: 320px;

  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    display: none;
  }
}
