.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.date {
  margin-right: 21px;

  color: #212121;
  font-size: 18px;
  line-height: 1.2222;

  opacity: 1;
  transition: opacity 250ms linear;
  cursor: pointer;
}

.date:hover,
.date:focus {
  opacity: 0.7;
  transition: opacity 250ms linear;
}

@media screen and (min-width: 768px) {
  .date {
    font-size: 34px;
    line-height: 1.2058;
  }
}

.icon {
  opacity: 1;
  transition: all 250ms linear;
  cursor: pointer;
  fill: #9b9faa;
}

.icon:hover,
.icon:focus {
  opacity: 0.7;
  transition: all 250ms linear;
  fill: #fc842d;
}