.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
    width: 280px;
    height: 100vh;
    padding: 40px 20px;
    padding-top: 0;
    margin-top: 32px;
    

}
@media screen and (max-width: 767px){
    .modal {
        margin-top: 100px;
    }}

@media screen and (min-width: 768px) {
    .modal {
        width: 672px;
        height: 572px;
        margin-top: 0;
        border-radius: 25px;
        background-image: url('../../images/mainPage/GreenLaptop.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    }
    .overlay {
        position: relative; 
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

} 



body .modal {
    transform: translate(-50%, -50%);
}

.btnCloseModal {

    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    color: black;
    padding: 11px 15px;
    outline: none;
    border: 1px solid white;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .btnCloseModal {
        display: none
    }
}