.dataResult {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.04;
  margin-bottom: 32px;
}

.dataResultText {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.04;
}

hr {
  width: 280px;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  hr {
    width: 330px;
    margin-bottom: 12px;
  }
}

.description {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04;
}

.productList {
  padding: 0px 0px 0px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  list-style: disc;
  color: #9b9faa;
}

@media screen and (min-width: 768px) {
  .products {
    width: fit-content;
    margin: 0 auto;
  }
}

.button {
  text-align: center;
}

.productItem {
  list-style: value;
  margin-bottom: 10px;
}
