/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  font-family: 'Verdana', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.215;
  letter-spacing: 0.04em;
  margin: 0;
}

p,
ul,
li,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #264061;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7c8ca0;
}

*::-webkit-scrollbar-track {
  background-color: #f0f1f3;
}
